*{
    background-color: rgb(56, 67, 77);
    color: white;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 6px; /* borda arredondada do thumb */
  }
  
  /* Estilizando a track (a área de fundo da barra de rolagem) */
  ::-webkit-scrollbar-track {
    background-color: lightslategray; /* cor de fundo da track */
  }

div#area{
  color: whitesmoke;
  background-color: rgb(70, 121, 123);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: 670px;

}

.exercicio_padrao{
  width: 750px;
  margin-left:25%;
}

.Somador{
  margin-top:50px;
}

.Pastas {
  margin-top: 10px;

}

.Duvidas{
  margin-top: 10px;
  margin-left:600px;

}

.container{
  margin-left: 35%;
}